<!DOCTYPE html>
<html>
<head>
    <title>
        Books
    </title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link href='http://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>
</head>
<body>

<h1>Books:</h1>

{% if books %}
<table class="customTable">
    <thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Author</th>
    </tr>
    </thead>
    <tbody>
    {% for book in books %}
    <tr>
        <td>
            {{ book.id }}
        </td>
        <td>
            {{ book.title }}
        </td>
        <td>
            {{ book.author }}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<h2> Sorry, no books in DB.</h2>
{% endif %}

</body>
</html>
